success1.is-underline:hover, .success1.is-outline:hover, .success1 {
    background-color: #1E73BE;
    padding: 0 5px;
    color: white !important;
}

.success2.is-underline:hover, .success2.is-outline:hover, .success2 {
    background-color: #ff4800;
    padding: 0 5px;
    color: white !important;
}

.call-mobile {
    background: #00a63f;
    position: fixed;
    bottom: 10px;
    height: 40px;
    line-height: 40px;
    padding: 7px 0px 0 0px;
    border-radius: 40px;
    color: #fff;
    left: 20px;
    z-index: 99999;
}

.call-mobile1 {
    position: fixed;
    bottom: 55px;
    height: 40px;
    line-height: 40px;
    padding: 0 0px 0 0px;
    border-radius: 40px;
    color: #fff;
    left: 20px;
    z-index: 99999;
}

.call-mobile2 {
    position: fixed;
    bottom: 100px;
    height: 40px;
    line-height: 40px;
    padding: 0 0px 0 0px;
    border-radius: 40px;
    color: #fff;
    left: 20px;
    z-index: 99999;
}

.call-mobile i {
    font-size: 20px;
    line-height: 40px;
    background: #B52026;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    float: right;
}

.call-mobile a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    padding-left: 10px;
}

.button span {
    text-transform: initial;
    font-weight: 400;
    font-family: poppins;
}

a#callnowbutton {
    font-family: poppins;
    font-weight: 400;
}
